@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0dba1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

p {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.reload {
    display: none;
}

footer {
    margin-top:auto;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px 0;
}